<% if current_user %>
  <%= partial :'partials/welcome' %>
<% end %>

<% if !current_user %>
  <section id="sign_up">
    <form action="/users" method="post">
      <label for="full_name">
        <input type="text" name="full_name" placeholder="Full name" required>
      </label>
      <label for="username">
        <input type="text" name="username" placeholder="Username" required>
      </label>
      <label for="email">
        <input type="email" name="email" placeholder="Email" required>
      </label>
      <label for="password" >
        <input type="password" name="password" placeholder="Password" required>
      </label>
      <label for="password_confirmation">
        <input type="password" name="password_confirmation" placeholder="Confirm password" required>
      </label>
      <input type="submit" value="Sign up">
    </form>
  </section>

  <section id="log_in">
    <form action="/sessions" method="post">
      <label for="username">
        <input type="text" name="username" placeholder="Username" required>
      </label>
      <label for="password">
        <input type="password" name="password" placeholder="Password" required>
      </label>
      <input type="submit" value="Log in">
    </form>
  </section>
<% end %>

<% if %>
  <%= flash.now[:details_error] %>
<% end %>

<% if @chits %>
  <section id="chits_section">
    <h3>Chits:</h3>
    <% @chits.each do |chit| %>
      <article id="chit_and_reply">
        <div id="chit">
          <%= chit.chit_text %>
          <%= chit.chit_time %>
          <%= chit.user.username %>
        </div>
        <% if current_user %>
          <form id="reply_form" method="post" action="create_reply">
            <label for="reply_field">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <input type="hidden" name="chit_id" value="<%= chit.id %>">
              <input type="text" name="reply_text" placeholder="Reply to <%= chit.user.username %>">
              <input type="submit" value="Reply">
            </label>
          </form>
        <% end %>
        <% if chit.replies %>
          <% chit.replies.each do |reply| %>
            <div id="reply">
              <%= reply.reply_text %>
              <%= reply.reply_time %>
              <%= reply.user.username %>
            </div>
          <% end %>
        <% end %>
      </article>
    <% end %>
  </section>
<% end %>
